<tr class="format-item">
	<td class="selector">
		<input type="radio" :checked="selected" @click="select" :id="formId">
	</td>

	<td>
		<p>
			<label :for="formId"><b>{{ format.name }} {{ format.properties.version }}</b></label>
			<span v-if="author" v-html="author">
			</span>
		</p>
		<div class="detail" v-if="selected">
			<div class="icon">
				<img v-if="format.properties.image" :src="imageSrc">
				<span v-else class="placeholder">{{ format.name.slice(0,2) }}</span>
			</div>

			<div class="description">
				<p v-if="format.properties.description">
					<span v-html="format.properties.description"></span>
				</p >

				<p v-if="format.properties.license">
					License: <span v-html="format.properties.license"></span>
				</p>
			</div>
		</div>
	</td>
</tr>
