<div id="welcomeView">
	<div class="hi" transition="fade-in-out">
		<h1>
			{{ 'Hi!' | say }}
		</h1>

		<p class="larger">
			{{ 'Twine is an open-source tool for telling interactive, nonlinear stories. There are a few things you should know before you get started.' | say }}
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'Tell Me More' | say }}</button>
			<a href="javascript:void(0)" class="button" @click="finish">{{ 'Skip' | say }}</a>
		</p>
	</div> <!-- .hi -->

	<div class="help" v-if="shown > 1" transition="fade-in-out">
		<h1>
			{{ 'New here?' | say }}
		</h1>

		<p class="larger">
			<span v-html="neverUsedTwineSay()"></span>
		</p>

		<p class="larger">
			<span v-html="usedTwineOnceSay()"></span>
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .help -->

	<div class="save" v-if="shown > 2 && !isElectron" transition="fade-in-out">
		<h1>
			{{ 'Your work is saved only in your browser.' | say }}
		</h1>

		<p class="larger">
			<span v-html="noCreateAccountSay()"></span>
		</p>

		<p class="larger">
			<span v-html="warningSay()"></span>
		</p>

		<p class="larger">
			<span v-html="secondWarningSay()"></span>
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .save -->

	<div class="thanks" v-if="shown > 3" transition="fade-in-out">
		<h1>
			{{ "That's it!" | say }}
		</h1>

		<p class="larger">
			{{ 'Thanks for reading, and have fun with Twine.' | say }}
		</p>

		<p class="buttons">
			<button class="primary" @click="finish">{{ 'Go to the Story List' | say }}</button>
		</p>
	</div> <!-- .thanks -->
</div>